@model TaskTracker.Models.TaskModel

@{
    ViewData["Title"] = "Create Task";
}

<div class="container">
    <h2>Create Task</h2>
 
    <partial name="_TaskFormPartial"/>

    <a href="@Url.Action("Index")">Back to List</a>
</div>
@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}